body {
	background-color: #F6FCFC;
	margin: 0;
	padding: 0;
}

.contentContainer {
  height: 200px;
  display: flex;
  justify-content: space-around;
}


.abc {
  height: 100%;
  background-color: green;
  margin-top: 15px; 
}



.messages-text-top {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.messages-text-top hr{
  border-bottom: 1px solid black;
}

.box2 {
  width: 300px;
  margin: 50px auto;
  border: 4px solid lightgrey;
  background-color: white; 
  padding: 20px;
  text-align: left;
  border-radius: 10px;
  color: black;
  font-family: Roboto;
  opacity: 1;
  position: relative;
}


.sb11:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid lightgrey;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  left: -23px;
}

.sb11:after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid #fff;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  left: -17px;
}

.sb123:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid lightgrey;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  left: -23px;
}

.sb123:after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid #fff;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  left: -1px;
}


.test { 
  display: flex;
}

.inputvideo {
  display: flex;
  justify-content: center;
  align-items: center;

}

.testrow {
  height: 100px;
  width: 100%;
  background-color: red;
}

.testcol {
  height: 100%;
  width: 100%;
  background-color: blue;
}

.testcol1 {
  height: 100%;
  width: 100%;
  background-color: green;
}
/* Login pagina */

.login-text-top {
    margin-left: 10vw;
    margin-top: 150px;
}

.login-circles {
    width: 100vw;
    height: 55px;
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

.circle-container {
    display: flex;
    width: 300px;
    justify-content: space-around;
    align-items: center;
}

.circle {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    border-radius: 40px;
    background-color: white;
}

.login-text {
    width: 100vw;
    text-align: center;
    color: #19ACFF;
}

.login-text p{
    font-size: 25px;
    font-family: 'Roboto';
}

.inlogtekst {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 8vh;
}



body {
    margin: 0 0 55px 0;
}

.content {
  height: 170px;
  margin-top: 6vh;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  -webkit-box-shadow: 0px 6px 12px -8px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 6px 12px -8px rgba(0,0,0,0.75);
  box-shadow: 0px 6px 12px -8px rgba(0,0,0,0.75);
}

.contentsettings {
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  -webkit-box-shadow: 0px 6px 12px -8px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 6px 12px -8px rgba(0,0,0,0.75);
  box-shadow: 0px 6px 12px -8px rgba(0,0,0,0.75);
  display: flex;
  align-items: center;
  height: 250px;
  cursor: pointer;
}

.profielsettings {
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  -webkit-box-shadow: 0px 6px 12px -8px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 6px 12px -8px rgba(0,0,0,0.75);
  box-shadow: 0px 6px 12px -8px rgba(0,0,0,0.75);
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 250px;
  width: 100%;
}

.settingstext p{
  font-weight: bold; 
  margin: 0;
  font-size: 15px;
}

.settingstext {
  margin-bottom: 3px;
}

.settingsvakje {
  height: 100%; 
  width: 25%; 
  background-color: #e3e3e3; 
  border-radius: 5px; 
  margin: 0; 
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}


img.KPNLogo {
  width: 250px;
}

@media only screen and (min-width: 575px) {

.contentKlein {
  display: none;
}

.infoGroot {
  display: flex;
  justify-content: space-around;
}

.bannerGroot {
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  width: 350px;
  justify-content: space-around;
  display: flex;
  -webkit-box-shadow: 0px 6px 12px -8px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 6px 12px -8px rgba(0,0,0,0.75);
  box-shadow: 0px 6px 12px -8px rgba(0,0,0,0.75);
}

.homeContent {
  height: 300px;
  width: 22%;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  -webkit-box-shadow: 0px 6px 12px -8px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 6px 12px -8px rgba(0,0,0,0.75);
  box-shadow: 0px 6px 12px -8px rgba(0,0,0,0.75);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
}

.bottomContent {
  display: flex;
  justify-content: space-around;
}

}

@media only screen and (max-width: 575px) {
.contentsettings {
  border: 1px solid #e3e3e3;
  height: 75px; 
  margin-right: 55px;
  margin-left: 55px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 6px 12px -8px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 6px 12px -8px rgba(0,0,0,0.75);
  box-shadow: 0px 6px 12px -8px rgba(0,0,0,0.75);
}

.profielsettings {
  border: 1px solid #e3e3e3;
  height: 125px; 
  margin-right: 40px;
  margin-left: 40px;
  margin-bottom: 15px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 6px 12px -8px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 6px 12px -8px rgba(0,0,0,0.75);
  box-shadow: 0px 6px 12px -8px rgba(0,0,0,0.75);
}

img.KPNLogo {
  width: 150px;
}

.contentGroot {
  display: none;
}

}



.content2 {
  height: 250px;
  margin-top: 3vh;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  -webkit-box-shadow: 0px 6px 12px -8px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 6px 12px -8px rgba(0,0,0,0.75);
  box-shadow: 0px 6px 12px -8px rgba(0,0,0,0.75);
  display: flex;
  align-items: center;
}

.content3 {
  height: 250px;
  margin-top: 3vh;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  -webkit-box-shadow: 0px 6px 12px -8px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 6px 12px -8px rgba(0,0,0,0.75);
  box-shadow: 0px 6px 12px -8px rgba(0,0,0,0.75);
  display: flex;
  align-items: center;
}


.maincontent {
  padding: 25px; 
}

@media only screen and (max-width: 600px) {
  .content {
    margin-left: 40px;
    margin-right: 40px;
    height: 100px;
  }
  .content2 {
    margin-left: 40px;
    margin-right: 40px;
    height: 100px;
  }
  .content3 {
    margin-left: 40px;
    margin-right: 40px;
    height: 100px;
  }



  .maincontent {
    height: 220px;
  }
}
.red-box {
  background-color: red;
  color: white;
  border-radius: 5px;
}

.green-box {
  background-color: green;
  color: white;
  border-radius: 5px;
}

.blue-box {
  background-color: blue;
  color: white;
  border-radius: 5px;
}

.orange-box {
  background-color: orange;
  color: white;
  border-radius: 5px;
}





@media only screen and (max-width: 575px) {

.menubalk {
  height: 10vh;
  width: 100vw;
  background-color: white;
  display: flex;
  position: fixed;
  bottom: 0;
}

.menuitem {
  width: 20vw;
  height: 10vh;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.menuitem p{
  color: #444444;
  font-size: 12px;
}

.menuitem i{
  color: #444444;
}

.menubalk a:hover {
  text-decoration: none;

}


}


/* --------------------------------------------------------------------------- */

@media only screen and (min-width: 576px) {

.menubalk {
  height: 10vh;
  width: 100vw;
  background-color: white;
  position: fixed;
  bottom: 0;
  display: flex;
}

.menuitem {
  width: 20vw;
  height: 10vh;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.menuitem p{
  color: #444444;
  font-size: 15px;
  margin-top: 2px;
}

.menuitem i{
  color: #444444;
  font-size: 22px;
}

.menubalk a:hover {
  text-decoration: none;
  background-color: #eeeeee;
}

}






   
   
   
   /* Grid styles -------------------------------------------------*/
   .cards {
     display: grid;
     grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
     grid-gap: 30px;
   }

   @media (min-width: 700px) {
    .leading-bigtext {
      font-size: 140px;
    }
  }
  
  .leading-text {
    max-width: 900px;
    font-size: 1.2em;
    line-height: 1.4em;
  }
  
  .cards {
    max-width: 960px;
    margin: 0 auto 30px;
  }
  
  article {
    position: relative;
  }
  
  .article-img {
    height: 200px;
    width: 100%;
    object-fit: cover;
  }
  
  .article-title {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.2);
  }
  

  /* Inlogpage */


input[type=text], input[type=password] {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  width: 340px;
}

button {
  background: rgb(4,170,109);
  background: linear-gradient(90deg, rgba(4,170,109,1) 0%, rgba(85,183,65,1) 63%, rgba(149,193,31,1) 100%);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 340px;
  border-radius: 5px;
}

button:hover {
  opacity: 0.8;
}

.imgcontainer {
  margin: 24px 0 12px 0;
  margin-top: 40px;
}


#formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 3vh;
}


.container {
  padding: 16px;
}


.backgroundimg {
  position: absolute;
  width: 120px;
  margin-left: 60vw;
  margin-top: -20px;
  z-index: -1;
}



/* Bestelgeschiedenis pagina */

@media only screen and (max-width: 575px) {
  .productcontent {
    border: 1px solid #e3e3e3;
    height: 75px; 
    margin-right: 55px;
    margin-left: 55px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 6px 12px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 12px -8px rgba(0,0,0,0.75);
    box-shadow: 0px 6px 12px -8px rgba(0,0,0,0.75);
  }

.productcontent {
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  -webkit-box-shadow: 0px 6px 12px -8px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 6px 12px -8px rgba(0,0,0,0.75);
  box-shadow: 0px 6px 12px -8px rgba(0,0,0,0.75);
  display: flex;
  align-items: center;
  height: 250px;
  cursor: pointer;
}

.producttexttitel p{
  font-weight: bold; 
  margin: 0;
  font-size: 18;
}

.producttexttitel {
  margin-bottom: 200px;
  margin-top: 90px;
}

/*
.producttext p{
  margin: 0;
  font-size: 18;
}

.producttext {
  margin-bottom: 3px;
}
*/

.product {
  height: 100%; 
  width: 25%; 
  background-color: #e3e3e3; 
  border-radius: 5px; 
  margin: 0; 
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerOrder {
  padding: 16px;
  margin-bottom: 100px;
}

.productText1 {
  margin-left: 20px;
  color: black;
}
}

/* order 1 */

.orderInfo {
  height: 350px;
  margin-top: 3vh;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  -webkit-box-shadow: 0px 6px 12px -8px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 6px 12px -8px rgba(0,0,0,0.75);
  box-shadow: 0px 6px 12px -8px rgba(0,0,0,0.75);
  display: flex;
  align-items: center;
}

.productTextOrder1 {
  margin-left: 50px;
}